<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<table>



		<tr>
			<td>部屋番号</td>
			<td th:text="${roomNumber}"></td>
		</tr>
		<tr>
			<td>タイプ1</td>
			<td th:text="${roomType1}"></td>
		</tr>
		<tr>
			<td>タイプ2</td>
			<td th:text="${roomType2}"></td>
		</tr>
		<tr>
			<td>料金</td>
			<td th:text="${fee}"></td>
		</tr>
		<tr>
			<td>料金</td>
			<td th:text="${day}"></td>
		</tr>

	</table>

<form action="/member/bookingOk" method="POST">
	<input type="radio" name="payId" value="1" checked>現地払い
	<input type="radio" name="payId" value="2">クレジットカード決済<br>
	<p>上記の内容で予約しますか</p>
	<button>確認</button>
</form>

</body>

</html>